In [6]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
iris = load_iris()

In [4]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [7]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [48]:
X_train ,  X_test ,  y_train ,  y_test  =  train_test_split (iris.data ,  iris.target ,  test_size = 0.33)

In [49]:
pd.DataFrame(X_train)

      0    1    2    3
0   6.9  3.1  5.4  2.1
1   4.3  3.0  1.1  0.1
2   4.8  3.0  1.4  0.3
3   5.5  4.2  1.4  0.2
4   7.7  2.8  6.7  2.0
..  ...  ...  ...  ...
95  7.2  3.2  6.0  1.8
96  6.9  3.1  4.9  1.5
97  5.4  3.4  1.5  0.4
98  4.5  2.3  1.3  0.3
99  4.6  3.1  1.5  0.2

[100 rows x 4 columns]